.header {
	display: flex;
	/* align items center would align items in center along a straight axis. */
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: white;
}

.header__logo {
	height: 25px;
	object-fit: contain;
	margin-left: 20px;
}

.header__input {
	display: flex;
	align-items: center;
	border: 1px solid lightgrey;
	width: 40%;
}

.header__input > input {
	/* flex 1 pushes the input foeld inside the div to have as much room as possible it can have.*/
	flex: 1;
	border: none;
}

.header__inputButton {
	width: 50px !important;
	background-color: #fafafa;
	border-left: 1px solid lightgrey;
	color: gray;
}

.header__right {
	display: flex;
	align-items: center;
}

.header__icons {
	margin-right: 8px;
}
